@model UserProfileViewModel

@{
    ViewData["Title"] = "Профіль";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cabinet.css" />
    <link rel="stylesheet" href="~/css/voting.css" />
}

<h2>Особистий кабінет</h2>
@if (!(TempData["Message"] is null))
{
    <p class="notification">Повідомлення: @TempData["Message"]</p>
}
@if (!Model.PasswordChanged)
{
    <p class="notification" style="color: red">Увага! Ви ще жодного разу не змінили пароль. 
    <br />Будь ласка, змініть його, бо ваш старий пароль,
    можливо, було скомпрометовано через те, що його було автоматично згенеровано та відправлено Вам на пошту або вашій старості.
    <br />Враховуйте, що Ви несете відповідальність за захист ваших персональних даних</p>
}
<table>
    <tr>
        <td>ПІБ:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Електронна пошта:</td>
        <td><a href="mailto:@Model.Email">@Model.Email</a>&nbsp;&nbsp;&nbsp;<a asp-area="" asp-controller="Account" asp-action="ChangeEmail"><img src="~/smallicons/edit.png" class="small-icon" alt="edit icon"></a></td>
    </tr>
    <tr>
        <td>Тег телеграм:</td>
        <td><a href="https://t.me/@Model.TelegramTag.Substring(1)">@Model.TelegramTag</a>&nbsp;&nbsp;&nbsp;<a asp-area="" asp-controller="Account" asp-action="ChangeTgTag"><img src="~/smallicons/edit.png" class="small-icon" alt="edit icon"></a></td>
    </tr>
    <tr>
        <td>Група:</td>
        <td>@Model.Group</td>
    </tr>
    <tr>
        <td>Факультет:</td>
        <td>@Model.Faculty</td>
    </tr>
    <tr>
        <td>Ролі:</td>
        @{
            string roles = "";
        }

        @foreach (var role in Model.Roles)
        {
            roles += role + ", ";
        }
        @{
            roles = roles.Remove(roles.Length - 2);
        }
        <td>@roles</td>
    </tr>
</table>
<div class="btns-container">
    <a asp-area="" asp-controller="Account" asp-action="ChangePassword">Змінити пароль</a>
    <a class="red" asp-area="" asp-controller="Account" asp-action="Logout">Вийти</a>
</div>
<br>
<h2>Ваші голосування:</h2>
<br />
<div class="votings">
    @foreach (var voting in @Model.Votings)
    {
        var globalColor = "#1a68a6";
        if (voting.Status == "відмовлено")
            globalColor = "black";
        else if (voting.Status == "заявка")
            globalColor = "orange";
        else if (voting.Status == "завершено; успішне")
            globalColor = "green";
        else if (voting.Status == "завершено; неуспішне")
            globalColor = "red";
        <div style="border-color: @globalColor;" class="voting-reduced">
            <div class="voting-reduced-left">
                <a href="/Votings/@voting.Id"><h3>@voting.Name</h3></a>
                <p>Зареєстровано: @voting.CreationDate</p>
                <p>Продовжиться до: @voting.CompletionDate</p>
                <p>Рівень: @voting.Level</p>
            </div>
            <div class="voting-reduced-right">
                @{
                    var percentageColor = (voting.IsSuccessfulNow) ? "green" : "red";
                }
                <h3 style="color: @percentageColor;">@string.Format("{0:0.0}", voting.ForPercentage)%</h3>
                <p>Статус: @voting.Status</p>
            </div>
        </div>

    }
</div>