@model UsersPageViewModel

@{
    ViewData["Title"] = "Користувачі";
}

@section Styles {
    <link rel="stylesheet" href="~/css/users-page2.css" />
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/show-list-script.js"></script>
}


@if (Context.User.IsInRole("Адміністратор")
  || Context.User.IsInRole("Голова СР КПІ"))
{
    <br />
    <div class="create-item">
        <a asp-area="" asp-controller="UsersPage" asp-action="CreateFaculty"><img src="~/smallicons/pen.png" class="small-icon" alt="pen icon">Створити факультет</a>
    </div>
}

@if (Context.User.IsInRole("Адміністратор")
  || Context.User.IsInRole("Голова СР КПІ")
  || Context.User.IsInRole("Голова СР Факультету"))
{
    <br />
    <div class="create-item">
        <a asp-area="" asp-controller="UsersPage" asp-action="CreateFlow"><img src="~/smallicons/pen.png" class="small-icon" alt="pen icon">Створити потік</a>
    </div>
}

@if (Context.User.IsInRole("Адміністратор")
   || Context.User.IsInRole("Голова СР КПІ")
   || Context.User.IsInRole("Голова СР Факультету")
   || Context.User.IsInRole("Староста потоку"))
{
    <br />
    <div class="create-item">
        <a asp-area="" asp-controller="UsersPage" asp-action="CreateGroup"><img src="~/smallicons/pen.png" class="small-icon" alt="pen icon">Створити групу</a>
    </div>
}

@if (Context.User.IsInRole("Адміністратор")
    || Context.User.IsInRole("Голова СР КПІ")
    || Context.User.IsInRole("Голова СР Факультету")
    || Context.User.IsInRole("Староста потоку")
    || Context.User.IsInRole("Староста групи"))
{
    <br />
    <div class="create-item">
        <a asp-area="" asp-controller="UsersPage" asp-action="AddUser"><img src="~/smallicons/pen.png" class="small-icon" alt="pen icon">Додати нового студента</a>
    </div>
    <br />
    <br />
}



<div class="faculties">
    <ul id="list">
        @foreach (var faculty in @Model.Faculties)
        {
            <li>
                <div style="border-color: #1a68a6" class="faculty">
                    <div class="faculty-left">
                        <h3>@faculty.Name</h3>
                    </div>
                    <div class="faculty-right">
                        <img src="~/smallicons/down.png" class="down">
                    </div>
                </div>
                <ul>
                    @foreach (var flow in @Model.Flows)
                    {
                        <li>
                            @if (flow.FacultyId == faculty.Id)
                            {
                                <div style="border-color: #1a68a6" class="flow">
                                    <div class="flow-left">
                                        <h3>@flow.Name|X @flow.Postfix</h3>
                                    </div>
                                    <div class="flow-right">
                                        <img src="~/smallicons/down.png" class="down">
                                    </div>
                                </div>
                                <ul>
                                    @foreach (var group in @Model.Groups)
                                    {
                                        @if (group.FlowId == flow.Id)
                                        {
                                            <li>
                                                <div style="border-color: #1a68a6" class="group">
                                                    <div class="group-left">
                                                        <h3>@flow.Name@group.Number @flow.Postfix</h3>
                                                    </div>
                                                    <div class="group-right">
                                                        <img src="~/smallicons/down.png" class="down">
                                                    </div>
                                                </div>
                                                <ul>
                                                    @foreach (var user in @Model.Users)
                                                    {
                                                        bool isBlocked = false;
                                                        for (int i = 0; i < Model.ActiveBlocks.Count; i++)
                                                        {
                                                            if (Model.ActiveBlocks[i] == user.Id)
                                                            {
                                                                isBlocked = true;
                                                                break;
                                                            }
                                                        }
                                                        string colorBlocked = "#1a68a6";
                                                        if (isBlocked)
                                                            colorBlocked = "#696969";
                                                        else
                                                            colorBlocked = "#1a68a6";

                                                        @if (user.GroupId == group.Id)
                                                        {
                                                            <li>
                                                                <div style="border-color: @colorBlocked" class="user">
                                                                    <div class="user-left">
                                                                        <h3><a href="/Users/UserProfiles/@user.Id" style="color:@colorBlocked !important">@user.FirstName @user.LastName</a></h3>
                                                                        <p>Email : @user.Email</p>
                                                                        <p>Telegram : @user.TelegramTag</p>
                                                                        <p>Дата реєстрації : @user.RegistrationDate</p>
                                                                    </div>
                                                                    <div class="user-right">
                                                                        @if (Context.User.IsInRole("Адміністратор"))
                                                                        {
                                                                            <form id="block" method="GET" asp-controller="UsersPage" asp-action="Block">
                                                                                @if (!isBlocked)
                                                                                {
                                                                                    <input type="hidden" name="id" value="@user.Id">
                                                                                    <button type="submit" class="block gray">Заблокувати</button>
                                                                                }
                                                                            </form>
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <ul>
                                                                </ul>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>


<br />
<br />


<div class="other-students">
    <h3>Список студентів, що ще не розподілені по групах</h3>
    @{
        int showed = 0;
        foreach (var user in @Model.Users)
        {
            @if (user.GroupId == 0)
            {
                showed += 1;
                <div style="border-color: #1a68a6" class="user">
                    <div class="user-left">
                        <h3>@user.FirstName @user.LastName</h3>
                        <p>Email : @user.Email</p>
                        <p>Telegram : @user.TelegramTag</p>
                        <p>Дата реєстрації : @user.RegistrationDate</p>
                    </div>
                    <div class="user-right">

                    </div>
                </div>
            }
        }
        if (showed == 0)
        {
            <br />
            <h3 style="color:black; font-size:20px;">Всі студенти успішно розподілені по групах.</h3>
        }
    }
</div>


<br />
<br />


