@model VotingDeleteViewModel

@{
    ViewData["Title"] = "Видалити заявку";
}

@section Styles {
    <link rel="stylesheet" href="~/css/voting.css" />
}

<h2>Видалити заявку</h2>
<br>
@if (Model is null)
{
    <p>@Html.ValidationMessage("VotingNotFoundError")</p>
}
else
{
<div style="border-color: orange;" class="voting">
    @if (Model.IsValid)
    {
        <form id="add-voting" class="add-voting delete" method="POST">
            <p>Ви впевнені, що хочете видалити заявку на голосування "@Model.Name", створену Вами @Model.CreationDate.ToShortDateString() о @Model.CreationDate.ToShortTimeString()?</p>
            <div class="warning"><p>@Html.ValidationMessage("VotingDeleteError")</p></div>
            <button type="submit" class="red">Так, видалити</button>
        </form>
        <a class="cancel gray" asp-area="" asp-controller="Votings" asp-action="Details" asp-route-id="@Model.Id">
            Ні
        </a>
    }
    else
    {
        <div class="warning"><p>@Html.ValidationMessage("VotingDeleteError")</p></div>
        <a class="cancel gray" asp-area="" asp-controller="Votings" asp-action="Details" asp-route-id="@Model.Id">
            Повернутися до голосування
        </a>
    }
</div>
}