@using System.Globalization;

@model VotingViewModel

@{
    ViewData["Title"] = "Змінити заявку";
}

@section Styles {
    <link rel="stylesheet" href="~/css/voting.css" />
}

@section Scripts {
    <script src="~/lib/autosize/dist/autosize.js"></script>
    <script src="~/js/validateVoting.js"></script>
}

<h2>Змінити заявку</h2>
<br>
@if (Model is null)
{
    <p>@Html.ValidationMessage("VotingNotFoundError")</p>
}
else
{
    <div style="border-color: orange;" class="voting">
        <form id="edit-voting" class="edit-voting" method="POST">
            <label for="Name">Назва:<input type="text" name="Name" value="@Model.Name" required></label>
            <br><br>
            <label for="CompletionDate">
                Дата закінчення:
                @{
                    var currentDateTime = (DateTime)Model.CreationDate;
                    var minDate = currentDateTime.ToString("s", DateTimeFormatInfo.InvariantInfo);
                    minDate = minDate.Remove(minDate.Length - 3);
                    currentDateTime = currentDateTime.AddYears(1);
                    var maxDate = currentDateTime.ToString("s", DateTimeFormatInfo.InvariantInfo);
                    maxDate = maxDate.Remove(maxDate.Length - 3);
                    string completionDate = null;
                    if (!(Model.CompletionDate is null))
                    {
                        completionDate = ((DateTime)Model.CompletionDate).ToString("s", DateTimeFormatInfo.InvariantInfo);
                        completionDate = completionDate.Remove(completionDate.Length - 3);
                    }
                }
                <input type="datetime-local" name="CompletionDate" min="@minDate" max="@maxDate" value="@completionDate" required>
            </label>
            <br><br>
            <label for="VisibilityTerm">
                Строк видимості після завершення (1-30 діб):
                <input type="number" name="VisibilityTerm" min="1" max="30" value="@Model.VisibilityTerm" required>
            </label>
            <br><br>
            <label for="Level">
                Рівень:
                <select name="Level" required>
                    @{
                        var isSelected = false;
                    }
                    @if (Model.Level is null)
                    {
                        <option disabled selected label="Оберіть"></option>
                    }
                    else
                    {
                        isSelected = Model.Level == "group";
                    }
                    <option value="group" selected="@isSelected">Група @Model.User.Group</option>
                    @{
                        isSelected = Model.Level == "flow";
                    }
                    <option value="flow" selected="@isSelected">Потік @Model.User.Flow</option>
                    @{
                        isSelected = Model.Level == "faculty";
                    }
                    <option value="faculty" selected="@isSelected">@Model.User.Faculty</option>
                    @{
                        isSelected = Model.Level == "kpi";
                    }
                    <option value="kpi" selected="@isSelected">КПІ</option>
                </select>
            </label>
            <br><br>
            <label for="MinimalAttendancePercentage">
                Мінімально-необхідна явка:
                <input type="text" id="MinimalAttendancePercentage" name="MinimalAttendancePercentage" value="@Model.MinimalAttendancePercentage" required>
            </label>
            <br><br>
            <label for="MinimalForPercentage">
                Мінімально-необхідний відсоток голосів "ЗА" (від 50):
                <input type="text" id="MinimalForPercentage" name="MinimalForPercentage" value="@Model.MinimalForPercentage" required>
            </label>
            <br><br>
            <label for="Description">Опис (від 1000 символів):</label><br>
            <textarea id="description" name="Description" minlength="1000" maxlength="50000" required>
            @Model.Description
        </textarea>
            <p>Зараз символів: <span id="desc-characters" style="color: red;">0</span></p>
            <br>
            <div class="warning"><p>@Html.ValidationMessage("VotingEditError")</p></div>
            <button type="submit">Внести зміни</button>
        </form>
        <a class="cancel red" asp-area="" asp-controller="Votings" asp-action="Details" asp-route-id="@Model.Id">
            Скасувати зміни
        </a>
    </div>
}