@model IEnumerable<VotingReducedViewModel>

@{
    ViewData["Title"] = "Голосування";
}

@section Styles {
    <link rel="stylesheet" href="~/css/voting.css" />
}

<h2>Голосування</h2>
<br>
<div class="votings-buttons">
    <form class="type-form" id="type-form" method="GET" asp-area="" asp-controller="Votings" asp-action="Index">
        @{bool isChecked = ViewBag.votingstype == "actual";}
        <input type="radio" name="votingstype" id="actual" value="actual" checked="@isChecked"><label class="col" for="actual">Актуальні</label>
        @{isChecked = ViewBag.votingstype == "created";}
        <input type="radio" name="votingstype" id="created" value="created" checked="@isChecked"><label class="col" for="created">Створені Вами</label>
        @if (Context.User.IsInRole("Адміністратор")
                || Context.User.IsInRole("Голова СР КПІ")
                || Context.User.IsInRole("Голова СР Факультету")
                || Context.User.IsInRole("Староста потоку")
                || Context.User.IsInRole("Староста групи"))
        {
            isChecked = ViewBag.votingstype == "requests";
            <input type="radio" name="votingstype" id="requests" value="requests" checked="@isChecked"><label class="col" for="requests">Пропозиції</label>
            isChecked = ViewBag.votingstype == "checked";
            <input type="radio" name="votingstype" id="checked" value="checked" checked="@isChecked"><label class="col" for="checked">Перевірені Вами</label>
                }
            @if (Context.User.IsInRole("Адміністратор"))
            {
                isChecked = ViewBag.votingstype == "all";
                <input type="radio" name="votingstype" id="all" value="all" checked="@isChecked"><label class="col" for="all">Усі</label>
            }
        </form>
</div>
<br>
<div class="create-voting">
    <a asp-area="" asp-controller="Votings" asp-action="Create"><img src="~/smallicons/pen.png" class="small-icon" alt="pen icon">Запропонувати голосування</a>
</div>
<br>
<div class="votings">
    @foreach (var voting in @Model)
    {
        var globalColor = "#1a68a6";
        if (voting.Status == "відмовлено")
            globalColor = "black";
        else if (voting.Status == "заявка")
            globalColor = "orange";
        else if (voting.Status == "завершено; успішне")
            globalColor = "green";
        else if (voting.Status == "завершено; неуспішне")
            globalColor = "red";
        <div style="border-color: @globalColor;" class="voting-reduced">
            <div class="voting-reduced-left">
                <a href="/Votings/@voting.Id"><h3>@voting.Name</h3></a>
                <p>Зареєстровано: @voting.CreationDate</p>
                <p>Рівень: @voting.Level</p>
            </div>
            <div class="voting-reduced-right">
                @if (voting.IsUserAbleToChangeStatus)
                {
                <div class="blocks small">
                    @if (voting.Status == "заявка" || voting.Status == "відмовлено")
                    {
                    <form id="approve" method="POST" asp-controller="Votings" asp-action="Approve">
                        <input type="hidden" name="id" value="@voting.Id">
                        <button type="submit" class="block blue">Затвердити</button>
                    </form>
                    }
                    @if (voting.Status != "відмовлено")
                    {
                <form id="block" method="POST" asp-controller="Votings" asp-action="Block">
                    <input type="hidden" name="id" value="@voting.Id">
                    <button type="submit" class="block gray">Заблокувати</button>
                </form>
                    }
                </div>
                }
                @{
                    var percentageColor = (voting.IsSuccessfulNow) ? "green" : "red";
                }
                <h3 style="color: @percentageColor;">@string.Format("{0:0.0}", voting.ForPercentage)%</h3>
                <p>Статус: @voting.Status</p>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        let columns = $(".col");
        let form = $("#type-form");
        columns.click(function (event) {
            const delay = 10;
            var timerId = setTimeout(function () {
                form.submit();
            }, delay);
        })
    </script>
}